<launch>
  <arg name="uuv_name" default="rexrov1"/>
  <arg name="start_time" default="-1"/>

  <group ns="$(arg uuv_name)">
    <node pkg="multirov"
          type="move_to_resource.py"
          name="move_to_resource"
          output="screen">
          <rosparam subst_value="true">
            start_time: $(arg start_time)
          </rosparam>
    </node>
 </group>
 <node pkg="multirov"
          type="resource_listener"
          name="resource_listener"
          output="screen">
 </node>
</launch>
